
/*individual styles*/

	.section-padding{
		padding: 84px 0px;
	}

	.container {
		display: block;
		width: 88%;
		max-width: 1400px;
		margin: 0 auto;
	}


	.container-full {
		width: 100%;
	}


/*rows*/
	.row {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		margin: 0px -20px;
	}

	.row-justify-end{
		justify-content: flex-end;
	}

	.row-justify-center{
		justify-content: center;
	}

	.row-justify-between{
		justify-content: space-between;
	}

	.row-align-end{
		align-content: flex-end;
	}

	.row-align-center{
		align-content: center;
		align-items: center;
	}


/*columns*/

	.col {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0%;
		padding: 0px 20px;
	}

	.col-lg-1 {
		max-width: 8.33%;
	}

	.col-lg-2 {
		max-width: 16.67%;
	}

	.col-lg-3 {
		max-width: 25%;
	}

	.col-lg-4 {
		max-width: 33.33%;
	}

	.col-lg-5 {
		max-width: 41.67%;
	}

	.col-lg-6 {
		max-width: 50%;
	}

	.col-lg-7 {
		max-width: 58.33%;
	}

	.col-lg-8 {
		max-width: 66.67%;
	}

	.col-lg-9 {
		max-width: 75%;
	}

	.col-lg-10 {
		max-width: 83.33%;
	}

	.col-lg-11 {
		max-width: 91.67%;
	}

	.col-lg-12 {
		max-width: 100%;
	}


	/*media*/
	
	@media screen and (max-width: 478px) {

		.col-sm-1 {
			flex: 0 0 8.33%;
			max-width: 8.33%;
		}

		.col-sm-2 {
			flex: 0 0 16.67%;
			max-width: 16.67%;
		}

		.col-sm-3 {
			flex: 0 0 25%;
			max-width: 25%;
		}

		.col-sm-4 {
			flex: 0 0 33.33%;
			max-width: 33.33%;
		}

		.col-sm-5 {
			flex: 0 0 41.67%;
			max-width: 41.67%;
		}

		.col-sm-6 {
			flex: 0 0 50%;
			max-width: 50%;
		}

		.col-sm-7 {
			flex: 0 0 58.33%;
			max-width: 58.33%;
		}

		.col-sm-8 {
			flex: 0 0 66.67%;
			max-width: 66.67%;
		}

		.col-sm-9 {
			flex: 0 0 75%;
			max-width: 75%;
		}

		.col-sm-10 {
			flex: 0 0 83.33%;
			max-width: 83.33%;
		}

		.col-sm-11 {
			flex: 0 0 91.67%;
			max-width: 91.67%;
		}

		.col-sm-12 {
			flex: 0 0 100%;
			max-width: 100%;
		}

	}/* media ends */