
/*global styles*/

	body{
		font-family: arial-regular, sans-serif;
		color: ;
	}

	footer{
		padding: 38px;
	}

	main{
		overflow: hidden;
	}


/*backgrounds*/

	.background-light{
		background-color: #ffffff;
	}

	.background-dark{
		background-color: #242A2A;
	}

	.background-brown{
		background-color: #916655;
	}


/*fonts*/

	@font-face{
		font-family: lucida-bright-demibold;
		src: url(fonts/lucida-bright-demibold.ttf);
	}

	@font-face{
		font-family: arial-regular;
	}

	wordmark{
		font-family: lucida-bright-demibold, serif;
		font-size: 63px;
		line-height: 100%;
		font-weight: Demibold;
		letter-spacing: 0;
		color: #ffffff;
		text-align: left;
	}

	.h1-light{
		font-family: lucida-bright-demibold, serif;
		font-size: 40px;
		line-height: 100%;
		font-weight: Demibold;
		letter-spacing: 0;
		color: #ffffff;
		text-align: ;
	}

	.h1-dark{
		font-family: lucida-bright-demibold, serif;
		font-size: 40px;
		line-height: 100%;
		font-weight: Demibold;
		letter-spacing: 0;
		color: #242A2A;
		text-align: ;
	}

	.h2-light{
		font-family: lucida-bright-demibold, serif;
		font-size: 32px;
		line-height: 100%;
		font-weight: Demibold;
		letter-spacing: 0;
		color: #ffffff;
		;
	}

	.h2-dark{
		font-family: lucida-bright-demibold, serif;
		font-size: 32px;
		line-height: 100%;
		font-weight: Demibold;
		letter-spacing: 0;
		color: #242A2A;
		
	}

	.p-light{
		font-family: arial-regular, sans-serif;
		font-size: 16px;
		line-height: 100%;
		font-weight: regular;
		color: #ffffff;
		gap: 28px;
	}

	.p-dark{
		font-family: arial-regular, sans-serif;
		font-size: 16px;
		line-height: 100%;
		font-weight: regular;
		color: #242A2A;

	}

	.bold{
		font-weight: bold;
	}

	bold{
		font-weight: bold;
	}

	.text-white{
		color: #ffffff;
	}

	.italic{
		font-style: italic;
	}



/*text layout*/

	.text-right{
		text-align: right;
	}

	.text-center{
		text-align: center;
	}

	.list-no-bullets{
		list-style: none;
		padding-left: 0px;
	}


/*navigation*/

	header{
		background-color: #242A2A;
		padding: 31px;
	}

	.nav-link{
		color: #ffffff;
		text-decoration: none;
	}

	nav li{
		list-style: none;
		padding-left: 0px;
	}

	nav ul{ 
		display: flex;
		justify-content: right;
		gap: 28px;
	}

	.hamburger {
		width: 30px;
		height: 20px;
		display: none;
		flex-direction: column;
		justify-content: space-between;
	}

	.line {
		width: 100%;
		height: 2px;
		background-color: #FFF4E2;
	}


/*image styles*/

	.image-full{
		display: block;
		width: 100%;
	}
	.hero-img {
		background-image: url(images/heroimage.jpg);
		height: 787px;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		overflow: visible;
	}

	.hero-img-02 {
		background-image: url(images/workshop.jpg);
		height: 437px;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		overflow: hidden;
		
	}

	.hero-img-03 {
		background-image: url(images/about.jpg);
		height: 437px;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		overflow: hidden;
		
	}

	.hero-img-04 {
		background-image: url(images/contact.jpg);
		height: 437px;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		overflow: hidden;

	}

	.img-border{
		border-radius: 7px;
	}

	.border-color{
		border: 4px;
		border-color: #2A2A2A;
		border-style: solid;
	}


/*buttons*/
	
	.button{
		display: inline-block;
		color: #ffffff;
		padding: 7px 15px;
		background-color: #242A2A;
		text-decoration: none;
		font-weight: bold;
		transition: background 0.2s ease;
		border: 2pts;
		border-color: #ffffff;
		border-style: solid;
		border-radius: 5px;
	}

	.button:hover{
		background-color: #ffffff;
	}

	.button-secondary{
		display: inline-block;
		color: #242A2A;
		padding: 7px 15px;
		background-color: #ffffff;
		text-decoration: none;
		font-weight: bold;
		transition: background 0.2s ease;
		border: 1px;
		border-color: #242A2A;
		border-style: solid;
		border-radius: 5px;
	}

	.button-secondary:hover{
		background-color: #242A2A;
	}


/*individual styles*/


	.hero-img-2{
		background-image: url();
		height: ;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		overflow: visible;
		padding: ;
	}

	.postition-relative{
		position: relative;
	}

	.overflow-hidden{
		overflow: hidden;
	}

	.position-absolute{
		position: absolute;
	}

	.footer-meta{
		margin-top: 45px;
	}

	.flex-between {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		align-items: start;
	}

	.input-label{
		color: #2A2A2A;
		display: block;
		margin-bottom: 8px;
	}

	.input-field {
		width: 100%;
		border: none;
		height: 36px;
		padding: 4px 8px;
	}

	.input-text{
		background-color: #2A2A2A;
		border: 2px;
		border-color: #ffffff;
		border-radius: 7px;
		border-style: solid;
		height: auto;
		width: 92%; 
		padding: 12px 11px; 
	}

	.input-footer{
		background-color: #ffffff;
		border: 2px;
		border-color: #2A2A2A;
		border-radius: 7px;
		border-style: solid;
		height: auto;
		width: 92%; 
		padding: 12px 11px; 
	}

	.input-message{
		background-color: #2A2A2A;
		border: 2px;
		border-color: #ffffff;
		border-radius: 7px;
		border-style: solid;
		height: 217px;
		width: 100%;
		padding: 8px;
		grid-area: 1 / 2 / span 4 / span 1;
	}

	.message{
		grid-row: 1 / span 4;
		grid-column: 2 / span 1;
	}

	.newsletter-form{
		display: grid;
		grid-template: auto / 1fr 1fr ;
		gap: 16px;
		align-items: flex-end;
	}

	.h3flex{
		grid-area: 1 / 1 / span 1 / span 2;
	}

	



/*mobile breakpoint*/

	@media screen and (max-width: 478px) {

		.menu {
			display: none;
		}

		.hamburger {
			display: flex;
		}

		wordmark{
			display: flex;
		}

		.h1-light{
			font-size: 32px;
		}

		.h1-dark{
			font-size: 32px;
		}

		.h2-light{
			font-size: 24px;
		}

		.h2-dark{
			font-size: 24px;
		}

		.p-light{
			font-size: 16px;
		}

		.p-dark{
			font-size: 16px;

		}

		.newsletter-form{
			display: grid;
			grid-template: auto / 1fr 1fr ;
			gap: 16px;
			align-items: flex-end;
		}
	}









